@import "variables";
@import "mixins";

body, html {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 16px;
	font-family: 'Open Sans';
	.userSelect(none);
	background-color: #1d1d1d;
}

.wrapper {
	.yupp {
		width: 65%;
		display: inline;
		.pinCenter;
		overflow: hidden;
		img {
		.pinCenter;
			max-width: 100%;
			height: auto;
			z-index: 9999;
			padding: -1px;
		}

		.ripples {
			width: 98%;
			height: 98%;
			.pinCenter;
		}

	}
}

.share {
	.pinCenter;
	text-align: center;
	display: none;
}

.vignette {
	position: absolute;
	width: 100%;
	height: 100%;
	//.boxShadow(inset 0 0 10em @color-black);
	//background: #a90a0a;
	background: #fff;
}

.brand {
	.pinCenter;
	max-width: 65%;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;

	.title {
		color: #fff;
		text-align: center;
		font-size: 6em;
	}
}

p {
	padding-top: 3em;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.wait-conn {
	.borderRadius(25px);
	.pinCenter;
	background-color: fade(@color-black, 75%);
	text-align: center;
	padding: 50px 25px;
	color: @color-white;
	display: none;
}

section.red {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;

	img {
		max-width: 100%;
		.pinCenter;
	}

	.buttons {
		position: absolute;
		width: 100%;
		bottom: 2.5em;
		text-align: center;

		.button {
		  background: rgba(255, 255, 255, 0.2);
		  color: #fff;
		}
	}
}

.ripple {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: white;
	z-index: 9999;
	&.in {
	    -webkit-mix-blend-mode: exclusion;
	    mix-blend-mode: exclusion;
	}
	.transform(translate(100%,-50%));
	.transformOrigin(center center);


  animation: pulse-animation 750ms;
}

.ripples {
	position: absolute;
	width: 90%;
	height: 90%;
	.pinCenter;
	z-index: 9800;
	overflow: hidden;
}

.ripple2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	.transform(translateX(-50%));
	.transformOrigin(center bottom);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	z-index: 9800;

	&.red {
		background: #fe0000;
	}

	&.yellow {
		background: #f0ff00;
	}
	&.green {
		background: #09ff00
	}
	&.blue {
		background: #011efe
	}
	&.purple {
		background: #ff00db
	}
	&.cyan {
		background: #00ecff
	}

	animation: ripple-animation 1500ms;
	.transition(all 600ms cubic-bezier(0.77, 0, 0.175, 1));
}

@keyframes pulse-animation {
    from {
      transform: translate(-50%, -50%) scale(0.25);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(100);
      opacity: 0;
    }
}

@keyframes ripple-animation {
    from {
      transform: translate(-50%, -50%) scale(0.25);
      opacity: 0.6;
    }
    to {
      transform: translate(-50%, -50%) scale(15);
      opacity: 0;
    }
}

.toggle-fullscreen {
	position: absolute;
	.transform(translateX(-50%));
	.transformOrigin(center center);
	bottom: 10px;
	left: 50%;
	z-index: 9999;
   	.opacity(0.5);
	&:active {
		.transform(translateX(-50%) scale(0.6));
		bottom: 5px;
	}
}
.wait {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(140,146,172,0.5);
    -webkit-mix-blend-mode: color-dodge;
    mix-blend-mode: color-dodge;
	color: #fff;
	z-index: 9999;
	display: none;

	.wrapper {
		.pinCenter;
		width: 80%;
		text-align: center;
	}
}

.button {
    display: inline-block;
	background: #fff;
	padding: 15px 25px;
	margin: 2em 0;
	text-decoration: none;
	color: #1d1d1d;
	text-transform: uppercase;
	border: 0;

	.borderRadius(2px);

	&:active, &:focus {
		outline: none;
	}

	&:active {
		.transform(scale(0.9));
	}
}